<template>
  <div class="card-container">
    <div class="header">
      <div class="back-button">
        <span class="material-icons" @click="$emit('close-modal')">
          arrow_back
        </span>
      </div>
      <h1>Robery in Kireka</h1>
    </div>

    <div class="body">
      <div class="description">
        <h2>Description</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit
        </p>
      </div>
      <div class="details-plus-action">
        <div class="list-details-container">
          <div class="list-details" @click="$emit('show-activity-log')">
            <h3>Case Activity Log</h3>
          </div>
          <div class="list-details" @click="$emit('show-evidence-log')">
            <h3>Evidence Log</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CaseReport"
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.card-container {
  margin: 75px 35px 0 35px;

  .header {
    display: flex;
    align-items: center;

    .back-button:hover {
      cursor: pointer;
    }

    h1 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      color: #000000;
      margin-left: 24px;
    }
  }

  .body {
    margin-left: 40px;

    .description {
      margin-top: 38px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #444f54;
      }

      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $tertiary;
      }
    }

    .details-plus-action {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .list-details-container {
        margin-top: 50px;

        .list-details {
          width: 432px;
          height: 62px;
          display: flex;
          align-items: center;
          padding: 0px 16px;
          box-shadow: 0px 1px 4px rgba(11, 13, 14, 0.1),
            0px 0px 1px rgba(11, 13, 14, 0.1);
          border-radius: 4px;
          margin-top: 14px;

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 110%;
            letter-spacing: -0.007em;
            color: #444f54;
            opacity: 60%;

            &:hover {
              opacity: 100%;
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>
