<template>
  <div class="card-container">
    <div class="header">
      <h1>Evidence Log for Case #03456</h1>
      <div class="header-details">
        <p>Agency: <span>UGP</span></p>
        <p>Prepared by: <span> Official MATHIAS MPUGA</span></p>
        <p>Date of report: <span> Feb 21, 2021 11:43 AM</span></p>
        <p>All times are offset by: <span> GMT +03:00</span></p>
      </div>
    </div>
    <P class="border"
      >-----------------------------------------------------------------------------------------------------------------------------------------------------------------</P
    >
    <div class="body">
      <div class="body-details">
        <p>Case #: <span>03456</span></p>
        <p>Case Opened: <span> Jan 25, 2021 7:19 PM</span></p>
        <p>Offense(s): <span> None</span></p>
        <p>Victim(s): <span> None</span></p>
        <p>Witness(es): <span> None</span></p>
        <p>Suspect(s): <span> None</span></p>
      </div>
      <P class="border"
        >-----------------------------------------------------------------------------------------------------------------------------------------------------------------</P
      >
    </div>
    <div class="footer">
      <div class="footer-details">
        <p>Scene #: <span>90000 of 1 scenes</span></p>
        <p>Address: <span> Official MATHIAS MPUGA</span></p>
        <p>
          Date of report:
          <span> Kampala, Kampala, TX, 1000 Kampala, United States</span>
        </p>
      </div>
      <P class="border"
        >-----------------------------------------------------------------------------------------------------------------------------------------------------------------</P
      >
      <div class="footer-button">
        <button class="cancel" @click="$emit('close-modal')">
          BACK
        </button>
        <button class="save">
          PRINT
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EvidenceLog"
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.card-container {
  margin: 40px 150px;

  .border {
    margin: 12px 0;
  }

  h1,
  p {
    margin: 0;
    padding: 0;
  }

  .header {
    h1 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 12px;
    }
  }

  p {
    font-weight: 600;

    span {
      font-weight: 400;
    }
  }
}

table {
  border: 1px solid $border;
  border-collapse: collapse;

  thead {
    th {
      padding: 12px;
      text-align: left;
      border: 1px solid $border;
      background: #aac1d6;
    }
  }

  tbody {
    tr {
      td {
        padding: 8px;
        min-width: 200px;
        font-size: 13.5px;
        border: 1px solid $border;
      }
    }
  }
}

.footer-button {
  display: flex;
  justify-content: flex-end;
  padding: 14px 33px 32px 0;

  button {
    width: 107px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    border-radius: 4px;
    border: none;
  }

  button:hover {
    cursor: pointer;
  }

  .cancel {
    color: $secondary;
    background-color: $white;
    margin-right: 35px;
  }

  .save {
    color: $white;
    background-color: $lead;
  }
}
</style>
