<template>
  <div class="side-navbar">
    <div class="work-name">
      <h1>#33467</h1>
    </div>
    <dropdown-button label="Sort" display="block" iconLeft="sort">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Sort by A</li>
          <li>Sort by A</li>
          <li>Sort by A</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <dropdown-button label="Type" display="block" iconLeft="insert_drive_file">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Type A</li>
          <li>Type B</li>
          <li>Type C</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <dropdown-button label="Range" display="block" iconLeft="date_range">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Day</li>
          <li>Week</li>
          <li>Month</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <dropdown-button label="Creator" display="block" iconLeft="account_circle">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Mike Mukasa</li>
          <li>Mike Mukasa</li>
          <li>Mike Mukasa</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <ul>
      <li @click="$emit('show-report')">
        <div class="left-content">
          <span class="material-icons">
            attach_file
          </span>
          <p>Report</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import DropdownButton from "@/components/generics/DropdownButton.vue";
import DropdownMenu from "@/components/generics/DropdownMenu.vue";

export default {
  name: "SideNavbar",

  components: {
    "dropdown-button": DropdownButton,
    "dropdown-menu": DropdownMenu
  }
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.side-navbar {
  width: 368px;
  height: calc(100vh - 80px);
  margin-left: 31px;
  font-family: $display-font;
  border-right: 1px solid $border;

  .work-name {
    height: 121px;
    display: flex;
    align-items: center;
    margin-left: 16px;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 27px;
      font-weight: 700;
      color: $secondary;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 16px;

      .left-content {
        display: flex;
        align-items: center;

        span {
          color: $gray-30;
          margin-right: 28px;
        }
      }

      .right-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      p {
        font-size: 14px;
        color: $secondary;
        margin: 0;
        line-height: 29px;
      }
    }

    li:hover {
      background-color: $primary-container;
      cursor: pointer;
    }
  }
}

.drop-list {
  width: 280px;
}
</style>
