<template>
  <div class="dropdown-menu" @click="closeDropdown">
    <slot />
  </div>
</template>

<script>
export default {
  name: "DropdownMenu",

  methods: {
    closeDropdown() {
      this.$parent.isDropdownOpen = false;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: $white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(#0b0d0e, 0.1);
  z-index: 15;

  &.right {
    left: unset;
    right: 0;
  }

  &.bottom {
    top: unset;
    bottom: calc(100% + 4px);
  }

  &.block {
    width: 100%;
  }
}
</style>
