<template>
  <div v-mousedown-outside="closeDropdown" :class="['dropdown', display]">
    <Button
      :disabled="disabled"
      :class="[{ open: isDropdownOpen }]"
      @click="toggleDropdown"
    >
      <span class="material-icons">
        {{ iconLeft }}
      </span>
      <p class="label">{{ label }}</p>
      <i class="mdi mdi-chevron-down"></i>
    </Button>
    <template v-if="isDropdownOpen">
      <slot />
    </template>
  </div>
</template>

<script>
import { MousedownOutside } from "@/directives/MousedownOutside.js";

export default {
  name: "DropdownButton",

  directives: {
    MousedownOutside
  },

  props: {
    buttonClass: {
      type: String,
      required: false
    },

    display: {
      type: String,
      required: false
    },

    label: {
      type: String,
      required: true
    },

    disabled: {
      type: Boolean,
      required: false,
      default: false
    },

    iconLeft: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      isDropdownOpen: false
    };
  },

  methods: {
    toggleDropdown() {
      if (this.isDropdownOpen == true) {
        this.isDropdownOpen = false;
      } else {
        this.isDropdownOpen = !this.isDropdownOpen;
      }
    },

    closeDropdown() {
      this.isDropdownOpen = false;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.dropdown {
  display: inline-block;
  position: relative;

  button {
    padding: 0 16px;
    min-width: 200px;
    display: flex;
    align-items: center;
    text-align: left;
    color: $black;
    border: none;
    background: none;

    span {
      color: $gray-30;
      margin-right: 28px;
    }

    .label {
      flex: 1;
      @include clamp-line(1);
    }

    i {
      font-size: 20px;
      margin-right: -8px;
      color: $secondary;
    }

    &.open {
      // border-color: $lead;
      box-shadow: 0 0 0 4px rgba($lead, 0.25);

      &:hover {
        background: $white;
      }
    }

    &:disabled {
      color: $tertiary;
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  &.block {
    display: block;

    button {
      width: 100%;
      min-width: 100%;
    }
  }

  &.invalid {
    button {
      border: 1px solid $danger;
      box-shadow: 0 0 0 4px rgba($danger, 0.25);
    }
  }
}
</style>
