<template>
  <div class="card-container">
    <div class="img-wrapper">
      <img src="../../assets/ipsum.png" alt="Ipsum car" />
    </div>
    <div class="footer-wrapper">
      <p>File Type: Robbery</p>
      <p>Created By: Mukasa John</p>
      <span>Time: 12:00 pm</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "FileCard"
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.card-container {
  overflow: hidden;
  box-shadow: $shadow-card;
  transition-duration: 0.2s;
  border-radius: 4px;
  cursor: pointer;
  background: $white;
  font-family: $display-font;

  .img-wrapper {
    img {
      width: 100%;
      height: 178px;
    }
  }

  .footer-wrapper {
    padding: 16px 26px;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 19px;
      color: $black;
    }

    span {
      font-size: 14px;
      line-height: 16px;
      color: $tertiary;
    }
  }

  &:hover {
    box-shadow: $shadow-card-hover;
  }
}
</style>
