<template>
  <div class="main-content">
    <filter-container btn="ADD FILE" @create-case="addFile = true" />
    <div class="case-card-container">
      <file-card
        v-for="(card, index) in cards"
        :key="index"
        @show-lead-details="$emit('show-person-details')"
      />
    </div>
    <add-file v-if="addFile" @close-modal="addFile = false" />
  </div>
</template>

<script>
import FilterContainer from "@/components/FilterContainer.vue";
import FileCard from "@/components/files/FileCard.vue";
import AddFile from "@/components/files/AddFile.vue";

export default {
  name: "Files",

  components: {
    "filter-container": FilterContainer,
    "file-card": FileCard,
    "add-file": AddFile
  },

  data: function() {
    return {
      cards: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10.11, 12],
      isCreateNewPerson: false,
      addFile: false
    };
  }
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.case-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 28px;
}

.main-content {
  width: 100%;
  margin: 77px 46px;

  display: flex;
  flex-direction: column;
}
</style>
