<template>
  <div class="page-container">
    <sidebar @show-report="showCaseReport" />
    <case-report
      v-if="showCaseReportDetails"
      @close-modal="showCaseReportDetails = false"
      @show-activity-log="displayActivityLog"
      @show-evidence-log="displayEvidenceLog"
    />
    <div
      class="main-content"
      v-if="!showCaseReportDetails && !showActivityLog && !showEvidenceLog"
    >
      <div class="navigation-container">
        <div class="header">
          <h1>Robery in Kireka</h1>
          <div class="add-class" @click="whichAddModel">
            <span class="material-icons">
              add
            </span>
            <template v-if="showCaseScenes">ADD SCENE</template>
            <template v-if="showCaseLeads">ADD LEAD</template>
            <template v-if="showCaseInterviews">ADD INTERVIEW</template>
            <template v-if="showCaseWarrants">ADD WARRANT</template>
            <template v-if="showCasePhotos">ADD PHOTO</template>
          </div>
        </div>
        <tab-container v-model="tab" @input="selectedTab">
          <tab-item
            id="scenes"
            :checked="tab == 'scenes'"
            :is-active="tab == 'scenes'"
            value="scenes"
            :count="23"
            badge-color="lead"
            label="Scenes"
          />
          <tab-item
            id="leads"
            :checked="tab == 'leads'"
            :is-active="tab == 'leads'"
            value="leads"
            :count="23"
            badge-color="lead"
            label="Leads"
          />
          <tab-item
            id="interviews"
            :checked="tab == 'interviews'"
            :is-active="tab == 'interviews'"
            value="interviews"
            :count="33"
            badge-color="lead"
            label="Interviews"
          />
          <tab-item
            id="warrants"
            :checked="tab == 'warrants'"
            :is-active="tab == 'warrants'"
            value="warrants"
            :count="23"
            badge-color="lead"
            label="Warrants"
          />
          <tab-item
            id="photos"
            :checked="tab == 'photos'"
            :is-active="tab == 'photos'"
            value="photos"
            :count="40"
            badge-color="lead"
            label="Photos"
          />
        </tab-container>
      </div>
      <div class="case-scene-container">
        <case-scenes
          v-if="showCaseScenes"
          @show-scene-details="showSceneDetailsModel = true"
        />
        <case-leads
          v-if="showCaseLeads"
          @show-lead-details="showLeadDetailsModel = true"
        />
        <case-interviews
          v-if="showCaseInterviews"
          @show-interview-details="showInterviewDetailsModel = true"
        />
        <case-warrants
          v-if="showCaseWarrants"
          @show-warrant-details="showWarrantDetailsModel = true"
        />
        <case-photos
          v-if="showCasePhotos"
          @show-warrant-details="showPhotoDetailsModel = true"
        />

        <create-scene
          v-if="showAddSceneModel"
          state="create"
          @close-modal="showAddSceneModel = false"
        />
        <scene-details
          v-if="showSceneDetailsModel"
          state="details"
          @close-modal="showSceneDetailsModel = false"
        />
        <create-lead
          v-if="showAddLeadModel"
          state="create"
          @close-modal="showAddLeadModel = false"
        />
        <lead-details
          v-if="showLeadDetailsModel"
          state="details"
          @close-modal="showLeadDetailsModel = false"
        />
        <create-interview
          v-if="showAddInterviewModel"
          state="create"
          @close-modal="showAddInterviewModel = false"
        />
        <interview-details
          v-if="showInterviewDetailsModel"
          state="details"
          @close-modal="showInterviewDetailsModel = false"
        />
        <create-warrant
          v-if="showAddWarrantModel"
          state="create"
          @close-modal="showAddWarrantModel = false"
        />
        <warrant-details
          v-if="showWarrantDetailsModel"
          state="details"
          @close-modal="showWarrantDetailsModel = false"
        />
      </div>
    </div>
    <case-activity-log v-if="showActivityLog" @close-modal="hideActivityLog" />
    <case-evidence-log v-if="showEvidenceLog" @close-modal="hideEvidenceLog" />
  </div>
</template>

<script>
// @ is an alias to /src
import CaseDetailsSidebar from "@/components/cases/CaseDetailsSidebar.vue";
import TabContainer from "@/components/generics/TabContainer.vue";
import TabItem from "@/components/generics/TabItem.vue";
import CaseScenes from "@/components/cases/CaseScenes.vue";
import CaseLeads from "@/components/cases/CaseLeads.vue";
import CaseInterviews from "@/components/cases/CaseInterviews.vue";
import CaseWarrants from "@/components/cases/CaseWarrants.vue";
import CasePhotos from "@/components/cases/CasePhotos.vue";
import CreateOrViewScene from "@/components/cases/CreateOrViewScene.vue";
import CreateOrViewLead from "@/components/cases/CreateOrViewLead.vue";
import CreateOrViewInterview from "@/components/cases/CreateOrViewInterview.vue";
import CreateOrViewWarrant from "@/components/cases/CreateOrViewWarrant.vue";
import CaseReport from "@/components/cases/CaseReport.vue";
import CaseActivityLog from "@/components/cases/CaseActivityLog.vue";
import CaseEvidenceLog from "@/components/cases/CaseEvidenceLog.vue";

export default {
  name: "Home",

  components: {
    sidebar: CaseDetailsSidebar,
    "tab-container": TabContainer,
    "tab-item": TabItem,
    "case-scenes": CaseScenes,
    "case-leads": CaseLeads,
    "case-interviews": CaseInterviews,
    "case-warrants": CaseWarrants,
    "case-photos": CasePhotos,
    "create-scene": CreateOrViewScene,
    "scene-details": CreateOrViewScene,
    "create-lead": CreateOrViewLead,
    "lead-details": CreateOrViewLead,
    "create-interview": CreateOrViewInterview,
    "interview-details": CreateOrViewInterview,
    "create-warrant": CreateOrViewWarrant,
    "warrant-details": CreateOrViewWarrant,
    "case-report": CaseReport,
    "case-activity-log": CaseActivityLog,
    "case-evidence-log": CaseEvidenceLog
  },

  computed: {
    tab: {
      get() {
        let tab = this.activeTab;
        return tab;
      },

      set(value) {
        this.activeTab = value;
      }
    }
  },

  data() {
    return {
      showCaseScenes: true,
      showCaseLeads: false,
      showCaseInterviews: false,
      showCaseWarrants: false,
      showCasePhotos: false,
      showAddSceneModel: false,
      showSceneDetailsModel: false,
      showAddLeadModel: false,
      showLeadDetailsModel: false,
      showAddInterviewModel: false,
      showInterviewDetailsModel: false,
      showAddWarrantModel: false,
      showWarrantDetailsModel: false,
      activeTab: "scenes",
      showCaseReportDetails: false,
      showActivityLog: false,
      showEvidenceLog: false
    };
  },

  methods: {
    showScenes() {
      this.showCaseLeads = false;
      this.showCaseInterviews = false;
      this.showCaseWarrants = false;
      this.showCasePhotos = false;
      this.showCaseScenes = true;
    },

    showLeads() {
      this.showCaseScenes = false;
      this.showCaseInterviews = false;
      this.showCaseWarrants = false;
      this.showCasePhotos = false;
      this.showCaseLeads = true;
    },

    showInterviews() {
      this.showCaseScenes = false;
      this.showCaseLeads = false;
      this.showCasePhotos = false;
      this.showCaseWarrants = false;
      this.showCaseInterviews = true;
    },

    showWarrants() {
      this.showCaseScenes = false;
      this.showCaseLeads = false;
      this.showCaseInterviews = false;
      this.showCasePhotos = false;
      this.showCaseWarrants = true;
    },

    showPhotos() {
      this.showCaseScenes = false;
      this.showCaseLeads = false;
      this.showCaseInterviews = false;
      this.showCaseWarrants = false;
      this.showCasePhotos = true;
    },

    whichAddModel() {
      if (this.showCaseScenes == true) {
        this.showAddSceneModel = true;
      } else if (this.showCaseLeads == true) {
        this.showAddLeadModel = true;
      } else if (this.showCaseInterviews == true) {
        this.showAddInterviewModel = true;
      } else if (this.showCaseWarrants == true) {
        this.showAddWarrantModel = true;
      }
    },

    selectedTab(value) {
      if (value == "scenes") {
        this.showScenes();
      } else if (value == "leads") {
        this.showLeads();
      } else if (value == "interviews") {
        this.showInterviews();
      } else if (value == "warrants") {
        this.showWarrants();
      } else if (value == "photos") {
        this.showPhotos();
      }
    },

    showCaseReport() {
      this.showCaseReportDetails = true;
    },

    displayActivityLog() {
      this.showActivityLog = true;
      this.showCaseReportDetails = false;
      this.showEvidenceLog = false;
    },

    hideActivityLog() {
      this.showActivityLog = false;
      this.showEvidenceLog = false;
      this.showCaseReportDetails = true;
    },

    displayEvidenceLog() {
      this.showEvidenceLog = true;
      this.showActivityLog = false;
      this.showCaseReportDetails = false;
    },

    hideEvidenceLog() {
      this.showActivityLog = false;
      this.showEvidenceLog = false;
      this.showCaseReportDetails = true;
    }
  }
};
</script>

<style lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.page-container {
  font-family: $display-font;
  display: flex;

  .main-content {
    margin: 77px 46px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .navigation-container {
      .header {
        display: flex;
        justify-content: space-between;
        height: 64px;

        h1 {
          margin: 0;
          font-size: 25px;
          font-weight: 700;
          align-self: flex-start;
        }
        .add-class {
          align-self: flex-end;
          width: 155px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $lead;
          font-size: 14px;
          font-weight: 600;
          color: $lead;
          border-radius: 4px;
          cursor: pointer;
          padding: 0 12px;

          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
</style>
