<template>
  <div class="page-container">
    <cases-sidebar />
    <files />
  </div>
</template>

<script>
// @ is an alias to /src
import CasesSideNavbar from "@/components/CasesSideNavbar.vue";
import Files from "@/components/files/Files.vue";

export default {
  name: "PeoplePage",

  components: {
    "cases-sidebar": CasesSideNavbar,
    files: Files
  }
};
</script>

<style lang="scss">
.page-container {
  display: flex;
  height: 100vh;
}
</style>
