<template>
  <div class="page-container">
    <cases-sidebar />
    <people />
  </div>
</template>

<script>
// @ is an alias to /src
import CasesSideNavbar from "@/components/CasesSideNavbar.vue";
import People from "@/components/people/People.vue";

export default {
  name: "PeoplePage",

  components: {
    "cases-sidebar": CasesSideNavbar,
    people: People
  }
};
</script>

<style lang="scss">
.page-container {
  display: flex;
  height: 100vh;
}
</style>
