<template>
  <div class="side-navbar">
    <div class="work-name">
      <h1>Kireka Police Post</h1>
    </div>

    <dropdown-button label="Teams" display="block" iconLeft="group_work">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Team A</li>
          <li>Team B</li>
          <li>Team C</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <dropdown-button label="Sort" display="block" iconLeft="sort">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Sort by A</li>
          <li>Sort by A</li>
          <li>Sort by A</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <dropdown-button
      label="Status"
      display="block"
      iconLeft="insert_drive_file"
    >
      <dropdown-menu>
        <ul class="drop-list">
          <li>Status A</li>
          <li>Status B</li>
          <li>Status C</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
    <dropdown-button label="Settings" display="block" iconLeft="settings">
      <dropdown-menu>
        <ul class="drop-list">
          <li>Peofile</li>
          <li>Password</li>
          <li>Others</li>
        </ul>
      </dropdown-menu>
    </dropdown-button>
  </div>
</template>

<script>
import DropdownButton from "@/components/generics/DropdownButton.vue";
import DropdownMenu from "@/components/generics/DropdownMenu.vue";

export default {
  name: "SideNavbar",

  components: {
    "dropdown-button": DropdownButton,
    "dropdown-menu": DropdownMenu
  }
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.side-navbar {
  width: 368px;
  height: calc(100vh - 80px);
  margin-left: 31px;
  font-family: $display-font;
  border-right: 1px solid $border;

  .work-name {
    height: 121px;
    display: flex;
    align-items: center;
    margin-left: 16px;

    h1 {
      padding: 0;
      margin: 0;
      font-size: 27px;
      font-weight: 700;
      color: $secondary;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 16px;

      .left-content {
        display: flex;
        align-items: center;
      }

      .right-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      p {
        font-size: 14px;
        color: $secondary;
        margin: 0;
        line-height: 29px;
      }
    }

    li:hover {
      background-color: $primary-container;
      cursor: pointer;
    }
  }
}

.drop-list {
  width: 280px;
}
</style>
