<template>
  <div class="navbar">
    <div class="navbar-wrapper">
      <div class="navbar-image">
        <img src="../assets/logo.png" />
        <h3>UP Crime Portal</h3>
      </div>
      <div class="right-content">
        <div class="navbar-links">
          <tab-container>
            <tab-item
              id="cases"
              :is-active="casesRoute"
              value="cases"
              :count="23"
              badge-color="danger"
              label="Cases"
              route="/"
            />
            <tab-item
              id="people"
              :is-active="peopleRoute"
              value="people"
              :count="23"
              badge-color="danger"
              label="People"
              route="people"
            />
            <tab-item
              id="files"
              :is-active="filesRoute"
              value="files"
              :count="23"
              badge-color="danger"
              label="Files"
              route="files"
            />
          </tab-container>
        </div>
        <div class="navbar-profile">
          <div class="avatar-wrapper">
            <div class="avatar">
              <i class="mdi mdi-account-circle"></i>
            </div>
            <div class="avatar-info">
              <p>Opio Gideon</p>
              <small>Officer</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TabContainer from "@/components/generics/TabContainer.vue";
import TabItem from "@/components/generics/TabItem.vue";

export default {
  name: "TabItem",

  components: {
    "tab-container": TabContainer,
    "tab-item": TabItem
  },

  computed: {
    casesRoute() {
      return this.$route.path == "/";
    },

    peopleRoute() {
      return this.$route.path.includes("people");
    },

    filesRoute() {
      return this.$route.path.includes("files");
    }
  },

  data() {
    return {
      activeTab: "cases"
    };
  }
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.navbar {
  font-family: $display-font;
  height: 80px;
  display: flex;
  align-items: center;
  background: $lead;
  padding: 0 47px;

  .navbar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar-image {
      width: 230px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: $white;

      img {
        width: 35px;
        height: 38px;
        margin-right: 16px;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 800;
        color: $lead;
      }
    }

    .right-content {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      .navbar-links {
        align-self: flex-end;
        margin-right: 84px;

        ul {
          display: flex;
          margin: 0;
          list-style-type: none;

          li {
            display: flex;
            align-items: center;
            font-size: 20px;
            color: $white;
            padding: 12px;
            border-bottom: none;
            opacity: 0.5;

            p {
              background: $danger;
              color: $white;
              height: 20px;
              min-width: 24px;
              padding: 0 4px;
              border-radius: 50px;
              font-size: 12px;
              line-height: 150%;
              letter-spacing: 0em;
              margin-left: 12px;
              text-align: center;
            }
          }

          a {
            text-decoration: none;
            display: flex;
          }

          li:hover {
            cursor: pointer;
            opacity: 1;
          }

          .active {
            opacity: 1;
            border-bottom: 3px solid $white;
          }
        }
      }

      .navbar-profile {
        .avatar-wrapper {
          display: flex;
          align-items: center;

          .avatar {
            margin-right: 12px;

            i {
              font-size: 45px;
              color: $white;
            }
          }

          .avatar-info {
            display: flex;
            flex-direction: column;
            color: $white;

            p {
              margin: 0;
              font-size: 22px;
              font-weight: 600;
            }

            small {
              font-size: 13px;
              opacity: 0.7;
              text-align: left;
            }
          }
        }
      }
    }
  }
}

::v-deep .active {
  label {
    p {
      color: $white;
    }
  }
}
</style>
