<template>
  <div class="main-content">
    <filter-container btn="ADD PERSON" @create-case="addPerson = true" />
    <div class="case-card-container">
      <person-card
        v-for="(card, index) in cards"
        :key="index"
        @show-lead-details="$emit('show-person-details')"
      />
      <add-person v-if="addPerson" @close-modal="addPerson = false" />
    </div>
  </div>
</template>

<script>
import FilterContainer from "@/components/FilterContainer.vue";
import PersonCard from "@/components/people/PersonCard.vue";
import AddPerson from "@/components/people/AddPerson.vue";

export default {
  name: "People",

  components: {
    "filter-container": FilterContainer,
    "person-card": PersonCard,
    "add-person": AddPerson
  },

  data: function() {
    return {
      cards: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10.11, 12],
      isCreateNewPerson: false,
      addPerson: false
    };
  }
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.case-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-top: 28px;
}

.main-content {
  width: 100%;
  margin: 77px 46px;

  display: flex;
  flex-direction: column;
}
</style>
