<template>
  <div class="card-container" @click="$emit('show-person-details')">
    <div class="avatar-wrapper">
      <i class="mdi mdi-account-circle"></i>
    </div>
    <div class="info-wrapper">
      <h3>Opio Gideon</h3>
      <p>Officer</p>
      <small>0754564329</small>
      <small>Kampala</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "PersonCard"
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.card-container {
  overflow: hidden;
  padding: 16px 26px;
  box-shadow: $shadow-card;
  transition-duration: 0.2s;
  border-radius: 4px;
  cursor: pointer;
  background: $white;
  font-family: $display-font;
  display: flex;
  align-items: center;
  // justify-content: center;

  &:hover {
    box-shadow: $shadow-card-hover;
  }

  .avatar-wrapper {
    i {
      font-size: 120px;
    }
  }

  .info-wrapper {
    margin-left: 12px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 18px;
      padding-bottom: 4px;
    }

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 600;
    }

    small {
      display: block;
      padding-top: 4px;
      font-size: 12px;
      text-align: left;
      color: $secondary;
    }
  }
}
</style>
