<template>
  <div class="modal-background">
    <div class="modal-content">
      <div class="modal-header">
        <h1>
          Login into UP Crime Pad
        </h1>
      </div>
      <div class="case-number">
        <label class="label" for="name">Name</label>
        <input type="Text" name="name" placeholder="Enter name" />
      </div>
      <div class="case-number">
        <label class="label" for="name">Email</label>
        <input type="Text" name="name" placeholder="Enter email" />
      </div>
      <div class="case-number">
        <label class="label" for="name">Password</label>
        <input type="Text" name="name" placeholder="Enter password" />
      </div>
      <div class="modal-footer">
        <button class="save">
          LOGIN
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AddFile",

  props: {
    title: {
      type: String,
      required: true
    }
  },

  methods: {}
};
</script>

<style scoped lang="scss">
@import "@/stylesheets/sass/abstract/up-crime-pad.scss";

.modal-background {
  font-family: $display-font;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 7;
  left: 0;
  top: 0;
  background-color: rgba($black, 0.3);

  .modal-content {
    background-color: $white;
    margin: 80px auto;
    border-radius: 4px;
    width: 529px;

    .close-button {
      display: flex;
      justify-content: flex-end;
      padding: 25px 25px 0 25px;
    }

    .close-button:hover {
      cursor: pointer;
    }

    .modal-header {
      position: relative;
      padding: 12px 0 22px 35px;

      h1 {
        font-size: 24px;
        padding: 0;
        text-align: center;
      }
    }

    .case-number {
      display: flex;
      flex-direction: column;
      padding: 0 100px;
      margin-top: 28px;

      .label {
        margin: 0;
        padding-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
        color: $secondary-dark;
      }

      input {
        height: 47px;
        border: 1px solid $border;
        border-radius: 4px;
        outline: none;
        padding: 0 16px;
      }

      .add {
        width: 60px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        background: #ffffff;
        border: 1px solid #e2e6e8;
        border-radius: 4px;
      }

      .add:hover {
        cursor: pointer;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: center;
      padding: 30px 33px 32px 0;

      button {
        width: 229px;
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        border-radius: 4px;
        border: none;
      }

      button:hover {
        cursor: pointer;
      }

      .cancel {
        color: $secondary;
        background-color: $white;
        margin-right: 35px;
      }

      .save {
        color: $white;
        background-color: $lead;
      }
    }
  }
}

::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: $tertiary;
}
</style>
